---
import Button from "./Button.astro";
import Container from "./Container.astro";
---

<Container class={"px-10 py-10 mb-10"}>
	<div class="img-clip w-full h-64 bg-neutral-900 relative">
		<h1
			class="text-stroke text-transparent text-9xl absolute -top-14 font-bold italic"
		>
			SOCIALS
		</h1>
		<h1
			class="text-stroke text-transparent text-9xl absolute -bottom-14 right-0 font-bold italic"
		>
			SOCIALS
		</h1>
		<div class="w-full h-full flex gap-x-10 justify-center items-center">
			<Button icon="github" />
			<Button icon="instagram" />
			<Button icon="linkedin" />
			<Button icon="twitter" />
		</div>
	</div>
</Container>

<style>
	.img-clip {
		background-repeat: no-repeat;
		clip-path: polygon(5% 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0 20%);
	}
	.text-stroke {
		text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
			1px 1px 0 #ffffff;
		opacity: 7%;
		-webkit-text-fill-color: #171717;
	}
</style>
