---
import Button from "./Button.astro";
import Container from "./Container.astro";
---

<Container class={"lg:px-10 md:px-0 px-2 lg:py-10 py-5 md:mb-10 mb-6"}>
	<div
		class="md:rounded-xl rounded-lg lg:h-64 md:h-48 h-36 bg-neutral-900 relative overflow-hidden"
	>
		<h1
			class="text-stroke text-transparent lg:text-9xl md:text-7xl text-5xl absolute lg:-top-12 md:-top-7 -top-4 font-black"
		>
			SOCIALS
		</h1>
		<h1
			class="text-stroke text-transparent lg:text-9xl md:text-7xl text-5xl absolute lg:-bottom-14 md:-bottom-7 -bottom-5 right-0 font-black"
		>
			SOCIALS
		</h1>
		<div
			class="w-full h-full flex lg:gap-x-10 md:gap-x-8 md:justify-center justify-evenly items-center"
		>
			<Button icon="github" />
			<Button icon="instagram" />
			<Button icon="linkedin" />
			<Button icon="twitter" />
		</div>
	</div>
</Container>

<style>
	.img-clip {
		background-repeat: no-repeat;
		clip-path: polygon(5% 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0 20%);
	}
	.text-stroke {
		text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
			1px 1px 0 #ffffff;
		opacity: 7%;
		-webkit-text-fill-color: #171717;
	}
</style>
