---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

export interface Props {
	icon: string;
}

export interface ButtonProperties {
	icon: string;
	className: string;
	link: string;
}

const { class: className, icon, ...props } = Astro.props;

function getIcon(name: string): ButtonProperties {
	switch (name.toLowerCase()) {
		case "github":
			return {
				icon: `
                <svg
					width="50"
					height="50"
					viewBox="0 0 50 50"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M25 8.34845C15.3188 8.34845 7.47034 16.1969 7.47034 25.8781C7.47034 33.6234 12.4922 40.1938 19.4594 42.5109C20.336 42.6719 20.6563 42.1297 20.6563 41.6672C20.6563 41.25 20.6407 39.8672 20.6313 38.4047C15.7563 39.4641 14.7266 36.3375 14.7266 36.3375C13.9282 34.3125 12.7797 33.7734 12.7797 33.7734C11.186 32.6859 12.9 32.7078 12.9 32.7078C14.6594 32.8297 15.5875 34.5141 15.5875 34.5141C17.1516 37.1938 19.6922 36.4188 20.6891 35.9688C20.8485 34.8391 21.3016 34.0641 21.8016 33.6281C17.911 33.1859 13.8172 31.6813 13.8172 24.9641C13.8172 23.0484 14.5016 21.4875 15.6203 20.2594C15.4422 19.8141 14.8375 18.0313 15.7938 15.6188C15.7938 15.6188 17.2641 15.1484 20.6141 17.4156C22.011 17.025 23.511 16.8328 25 16.8266C26.4891 16.8328 27.9891 17.0281 29.3891 17.4188C32.7328 15.1484 34.2063 15.6219 34.2063 15.6219C35.1641 18.0359 34.561 19.8172 34.3813 20.2609C35.5047 21.4875 36.1828 23.05 36.1828 24.9656C36.1828 31.7 32.0828 33.1828 28.1782 33.6172C28.8094 34.1609 29.3672 35.2266 29.3672 36.8609C29.3672 39.2047 29.3438 41.0938 29.3438 41.6719C29.3438 42.1391 29.6625 42.6844 30.55 42.5125C37.511 40.1906 42.5282 33.6219 42.5282 25.8797C42.5282 16.2 34.6797 8.35001 24.9985 8.35001L25 8.34845Z"
						fill="#D4D4D4"
					/>
				</svg>
			`,
				className:
					"bg-gradient-to-br from-neutral-700/30 to-neutral-800/30 text-neutral-300",
				link: "https://www.github.com/sarveshrane2000",
			};
		case "instagram":
			return {
				icon: `
					<svg
						width="40"
						height="40"
						viewBox="0 0 40 40"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M20.0078 11.0156C15.0391 11.0156 11.0312 15.0234 11.0312 19.9922C11.0312 24.9609 15.0391 28.9687 20.0078 28.9687C24.9766 28.9687 28.9844 24.9609 28.9844 19.9922C28.9844 15.0234 24.9766 11.0156 20.0078 11.0156ZM20.0078 25.8281C16.7969 25.8281 14.1719 23.2109 14.1719 19.9922C14.1719 16.7734 16.7891 14.1562 20.0078 14.1562C23.2266 14.1562 25.8438 16.7734 25.8438 19.9922C25.8438 23.2109 23.2188 25.8281 20.0078 25.8281ZM31.4453 10.6484C31.4453 11.8125 30.5078 12.7422 29.3516 12.7422C28.1875 12.7422 27.2578 11.8047 27.2578 10.6484C27.2578 9.49219 28.1953 8.55469 29.3516 8.55469C30.5078 8.55469 31.4453 9.49219 31.4453 10.6484ZM37.3906 12.7734C37.2578 9.96875 36.6172 7.48438 34.5625 5.4375C32.5156 3.39062 30.0313 2.75 27.2266 2.60937C24.3359 2.44531 15.6719 2.44531 12.7812 2.60937C9.98438 2.74219 7.5 3.38281 5.44531 5.42969C3.39063 7.47656 2.75781 9.96094 2.61719 12.7656C2.45312 15.6562 2.45312 24.3203 2.61719 27.2109C2.75 30.0156 3.39063 32.5 5.44531 34.5469C7.5 36.5938 9.97656 37.2344 12.7812 37.375C15.6719 37.5391 24.3359 37.5391 27.2266 37.375C30.0313 37.2422 32.5156 36.6016 34.5625 34.5469C36.6094 32.5 37.25 30.0156 37.3906 27.2109C37.5547 24.3203 37.5547 15.6641 37.3906 12.7734ZM33.6562 30.3125C33.0469 31.8438 31.8672 33.0234 30.3281 33.6406C28.0234 34.5547 22.5547 34.3438 20.0078 34.3438C17.4609 34.3438 11.9844 34.5469 9.6875 33.6406C8.15625 33.0312 6.97656 31.8516 6.35938 30.3125C5.44531 28.0078 5.65625 22.5391 5.65625 19.9922C5.65625 17.4453 5.45313 11.9688 6.35938 9.67188C6.96875 8.14062 8.14844 6.96094 9.6875 6.34375C11.9922 5.42969 17.4609 5.64062 20.0078 5.64062C22.5547 5.64062 28.0313 5.4375 30.3281 6.34375C31.8594 6.95312 33.0391 8.13281 33.6562 9.67188C34.5703 11.9766 34.3594 17.4453 34.3594 19.9922C34.3594 22.5391 34.5703 28.0156 33.6562 30.3125Z"
							fill="currentColor"
						/>
					</svg>
				`,
				className:
					"bg-gradient-to-br from-pink-700/30 to-pink-800/30 text-pink-600",
				link: "https://www.instagram.com/sarveshrane2000",
			};
		case "linkedin":
			return {
				icon: `
					<svg
						width="40"
						height="40"
						viewBox="0 0 40 40"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M10.3344 35H3.07812V11.6328H10.3344V35ZM6.70234 8.44532C4.38203 8.44532 2.5 6.52345 2.5 4.20314C2.5 3.08861 2.94275 2.01972 3.73084 1.23163C4.51893 0.443539 5.58781 0.000793457 6.70234 0.000793457C7.81687 0.000793457 8.88576 0.443539 9.67385 1.23163C10.4619 2.01972 10.9047 3.08861 10.9047 4.20314C10.9047 6.52345 9.02187 8.44532 6.70234 8.44532ZM37.4922 35H30.2516V23.625C30.2516 20.9141 30.1969 17.4375 26.4789 17.4375C22.7062 17.4375 22.1281 20.3828 22.1281 23.4297V35H14.8797V11.6328H21.8391V14.8203H21.9406C22.9094 12.9844 25.2758 11.0469 28.8062 11.0469C36.15 11.0469 37.5 15.8828 37.5 22.1641V35H37.4922Z"
							fill="currentColor"
						/>
					</svg>
				`,
				className:
					"bg-gradient-to-br from-blue-700/30 to-blue-800/30 text-blue-600",
				link: "https://www.linkedin.com/in/sarvesh-rane-80452522a",
			};
		case "twitter":
			return {
				icon: `
					<svg
						width="40"
						height="40"
						viewBox="0 0 40 40"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M35.8883 11.8528C35.9137 12.2081 35.9137 12.5635 35.9137 12.9188C35.9137 23.7563 27.665 36.2437 12.5888 36.2437C7.94414 36.2437 3.62945 34.8984 0 32.5635C0.659922 32.6396 1.29437 32.665 1.97969 32.665C5.81211 32.665 9.34008 31.3706 12.1573 29.1625C8.55328 29.0863 5.53297 26.7259 4.49234 23.4772C5 23.5533 5.50758 23.6041 6.04062 23.6041C6.77664 23.6041 7.51273 23.5025 8.19797 23.3249C4.44164 22.5634 1.6243 19.264 1.6243 15.2792V15.1777C2.71562 15.7869 3.98477 16.1676 5.32984 16.2183C3.12172 14.7462 1.67508 12.2335 1.67508 9.39086C1.67508 7.86805 2.08109 6.47211 2.7918 5.25383C6.82734 10.2284 12.8934 13.4771 19.6953 13.8325C19.5684 13.2234 19.4923 12.5889 19.4923 11.9544C19.4923 7.43657 23.1471 3.75641 27.6902 3.75641C30.0506 3.75641 32.1826 4.74625 33.6801 6.34524C35.5328 5.98992 37.3095 5.30461 38.8831 4.36555C38.2739 6.26914 36.9795 7.86813 35.2791 8.88328C36.9288 8.70571 38.5278 8.24875 39.9998 7.6143C38.8833 9.2386 37.4873 10.6852 35.8883 11.8528V11.8528Z"
							fill="currentColor"
						/>
					</svg>
				`,
				className:
					"bg-gradient-to-br from-sky-700/30 to-sky-800/30 text-sky-600",
				link: "https://www.twitter.com/sarveshrane2000",
			};
		default:
			return {
				icon: `
                <svg
					width="50"
					height="50"
					viewBox="0 0 50 50"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M25 8.34845C15.3188 8.34845 7.47034 16.1969 7.47034 25.8781C7.47034 33.6234 12.4922 40.1938 19.4594 42.5109C20.336 42.6719 20.6563 42.1297 20.6563 41.6672C20.6563 41.25 20.6407 39.8672 20.6313 38.4047C15.7563 39.4641 14.7266 36.3375 14.7266 36.3375C13.9282 34.3125 12.7797 33.7734 12.7797 33.7734C11.186 32.6859 12.9 32.7078 12.9 32.7078C14.6594 32.8297 15.5875 34.5141 15.5875 34.5141C17.1516 37.1938 19.6922 36.4188 20.6891 35.9688C20.8485 34.8391 21.3016 34.0641 21.8016 33.6281C17.911 33.1859 13.8172 31.6813 13.8172 24.9641C13.8172 23.0484 14.5016 21.4875 15.6203 20.2594C15.4422 19.8141 14.8375 18.0313 15.7938 15.6188C15.7938 15.6188 17.2641 15.1484 20.6141 17.4156C22.011 17.025 23.511 16.8328 25 16.8266C26.4891 16.8328 27.9891 17.0281 29.3891 17.4188C32.7328 15.1484 34.2063 15.6219 34.2063 15.6219C35.1641 18.0359 34.561 19.8172 34.3813 20.2609C35.5047 21.4875 36.1828 23.05 36.1828 24.9656C36.1828 31.7 32.0828 33.1828 28.1782 33.6172C28.8094 34.1609 29.3672 35.2266 29.3672 36.8609C29.3672 39.2047 29.3438 41.0938 29.3438 41.6719C29.3438 42.1391 29.6625 42.6844 30.55 42.5125C37.511 40.1906 42.5282 33.6219 42.5282 25.8797C42.5282 16.2 34.6797 8.35001 24.9985 8.35001L25 8.34845Z"
						fill="currentColor"
					/>
				</svg>
			`,
				className:
					"bg-gradient-to-br from-neutral-700/30 to-neutral-800/30 text-neutral-300",
				link: "https://www.github.com/sarveshrane2000",
			};
	}
}
---

<a
	href={getIcon(icon).link}
	target="_blank"
	aria-label="social-link"
	class="hover:opacity-80 duration-250"
>
	<div
		class:list={[
			"img-clip h-28 w-28 flex items-center justify-center",
			getIcon(icon).className,
		]}
	>
		<div set:html={getIcon(icon).icon}></div>
	</div>
</a>

<style>
	.img-clip {
		background-repeat: no-repeat;
		clip-path: polygon(18% 0, 100% 0, 100% 82%, 82% 100%, 0 100%, 0 18%);
	}
</style>
