---
import HeaderLink from "./HeaderLink.astro";
import { SITE_NAME } from "../config";
---

<header class="px-10 py-4 text-base italic border-b border-neutral-200">
	<div class="flex items-center justify-between container m-auto">
		<a href="/">
			<h3
				class="font-bold hover:text-indigo-500 hover:underline decoration-2 cursor-pointer"
			>
				{SITE_NAME}
			</h3>
		</a>
		<nav class="font-medium flex gap-x-5">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/favorites">Favorites</HeaderLink>
			<HeaderLink href="/timemachine">TimeMachine</HeaderLink>
		</nav>
	</div>
</header>
